<link rel="stylesheet" href="../../../public/style/tasks-styles.css" />
<link rel="stylesheet" href="../../../public/style/home-styles.css" />


<style>
  /* Nav Bar */
  .nav {
    height: 80px;
    width: 100% !important;
    background-color: #0e0e11;
    padding-top: 20px;

  }

  .nav>.nav-header {
    display: inline;
  }

  .nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;

    padding: 10px 10px 10px 10px;
  }

  .nav>.nav-btn {
    display: none;
  }

  .nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }

  .nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: white;
  }

  .nav>.nav-links>a:hover {
    background-color: #232323;
  }

  .nav>#nav-check {
    display: none;
  }

  /* Nav Bar media Queries */

  @media (max-width:680px) {
    .nav>.nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    .nav>.nav-btn>label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
      background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid white;
    }

    .nav>.nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #232323;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 80px;
      left: 0px;
    }

    .nav>.nav-links>a {
      display: block;
      width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
      height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
</style>


<div class="container full-height-grow">
  <div class="nav">

    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <a class="brand-logo">
          <img src="../../../public/assets/Ecell-LOGO-01.png" />
          <div class="brand-logo-name">DEC</div>
        </a>
      </div>
    </div>
    <div class="nav-btn" style="padding-top: 25px;">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="/homeboard">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/users/logout">Logout</a>
    </div>
  </div>
  <br>
  <br>
  <br>

  <section class="tasks-main-section">
    <div class="task-count">
      <h1 class="task-number">
        <span class="accent-text-stroke"><%= task_number %></span>
      </h1>
    </div>
    <div class="task-deadline-container">
      <h3 class="task-deadline">Deadline: <%= deadline %></h3>
    </div>
    <div class="points-container">
      <h3 class="task-points">Points : <%= points %></h3>
    </div>
    <div class="task-title-container">
      <h2 class="task-title coves-font">
        <%= subtext %>
      </h2>
    </div>
    <div class="task-details">
      <h3 class="description-title coves-font">Description</h3>
      <h4 class="task-description-text coves-font task-info">
        <%= description %>
      </h4>
      <h3 class="description-title coves-font">Guidelines</h3>
      <h4 class="task-guidelines-text coves-font task-info">
        <%= guidelines %>
      </h4>
      <h3 class="description-title coves-font">Submission Guidelines</h3>
      <h4 class="task-submission-text coves-font task-info">
        <%= submission %>
      </h4>
      <div class="button-container">
        <form method="GET" action="/submittask">
         <button type="submit" class="submit-button">Submit</button>
      </form>
      </div>
    </div>
  </section>
</div>